.git
.env
.idea
.vscode
.github

node_modules
vendor

storage/app/**
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/framework/testing
storage/logs/**
storage/debugbar/**
